@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Oswald&display=swap" rel="stylesheet");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}

h1, h2, h3 {
	font-family: 'Gloock', serif;
	font-weight: bold;
	color: #E66638;
}
a{
	text-decoration: none;
}